{% extends 'base.html' %}                      # copier la forme l'esthétique du site

{% block content %}

{% load static %}
<style type="text/css">

#gameMorpionContainer {
    position: relative;
    display : none;
}
.caseMORPION {
    height: 82px;
    width: 82px;
    background-position: center;
    background-repeat : no-repeat;
}
.gridMorpionContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

#previewPlayer {
    height : 40px;
}
#previewSign {
    display: none
}
</style>

<h3> Morpion </h3>           <!-- titre -->

<div id="playerSign">

    <select class="form-select" aria-label="Choisir votre signe" id="playerOneSign" onchange="checkPlayer()">
                              <option selected>Choix du joueur 1</option>
                              <option value="croixMORPION">Croix</option>
                              <option value="rondMORPION">Rond</option>
                            </select>
<div>
                            <button disabled class="btn btn-secondary" onclick="launchMORPION()" style="margin-top: 15px; padding: 5px; border-radius: 6px" id="generateMORPION" >Lancer la partie</button>

</div>

</div>

    <div id="previewSign" ><p>
    Tour du : 
    <img src="" alt="" id="previewPlayer">
</p>
</div>
<div id="gameMorpionContainer" onclick="pawnPlacement()">

    <div id=grilleMORPION>
        <img src="{% static 'img/grilleMORPION.png' %}" alt="">
    </div>
    <div id="gridMorpionContainer">


        <div id="case1" class="caseMORPION" ></div>
        <div id="case2" class="caseMORPION"></div>
        <div id="case4" class="caseMORPION"></div>
        <div id="case5" class="caseMORPION"></div>
        <div id="case6" class="caseMORPION"></div>
        <div id="case7" class="caseMORPION"></div>
        <div id="case8" class="caseMORPION"></div>
        <div id="case9" class="caseMORPION"></div>

    </div>

</div>




{% endblock %}
