{% extends 'base.html' %}

{% block content %}

{% load static %}
<style type="text/css">
#gameP4Container {
    position: relative;
    display : none;
}
  .lig {
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat : no-repeat;
  }
  .gridContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
   }
   .coll {
    width: 100px;
   }

#playerPreview {
    height : 40px;

}
#previewColor {
    display: none
}

</style>
<h3>Jeu du Puissance 4 </h3>

<div id="playerColor">

    <select class="form-select" aria-label="Choisir votre couleur" id="playerOneColor" onchange="playerCheck()">
                              <option selected>Choix du joueur 1</option>
                              <option value="rougeP4">Rouge</option>
                              <option value="jauneP4">Jaune</option>
                            </select>
<div>
                            <button disabled class="btn btn-secondary" onclick="launchP4()" style="margin-top: 15px; padding: 5px; border-radius: 6px" id="generateP4" >Lancer la partie</button>

</div>


</div>
    <div id="previewColor" ><p>
    Tour du : 
    <img src="" alt="" id="playerPreview">
</p>
</div>
<div id="gameP4Container" onclick="tokenPlacement()">

    <div id=grille>
        <img src="{% static 'img/grilleP4.png' %}" alt="">
    </div>
    <div class="gridContainer">
        <div id="coll1"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll2"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll3"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll4"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll5"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll6"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
        <div id="coll7"class="coll">
            <div id="lig1" class="lig"></div>
            <div id="lig2" class="lig"></div>
            <div id="lig3" class="lig"></div>
            <div id="lig4" class="lig"></div>
            <div id="lig5" class="lig"></div>
            <div id="lig6" class="lig"></div>
        </div>
    </div>
</div>






{% endblock %}